.header {
  // display: none;
  // border-bottom: 1px solid #f51a85;

  & h2 {
    // padding: 25px 0 20px;
    // width: 250px;
    font-family: $titleFont;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
