.news {
  width: 250px;
  z-index: 1;
  position: relative;

  &__header {
    padding: 25px 0 20px;
    background-color: #ffffff;
    border-bottom: 1px dashed #b9b9b9;

    & h2 {
      margin: 0;
    }
  }

  &__wrapper {
    box-sizing: border-box;
    width: 250px;
    margin: 0;
    padding: 20px 0 0;
    list-style: none;
    background-color: #ffffff;
    // transition: ease-in 0.1s;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__wrapper-full {
    box-sizing: border-box;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
  }

  &__ease-in {
    transition: ease-in 0.5s;
  }

  &__item,
  &__item-full {
    height: max-content;
    padding: 0 15px 20px;

    & h2 {
      // padding: 25px 0 20px;
      // width: 250px;
      margin: 25px 20px;
      font-family: $titleFont;
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.06em;
      text-align: center;
    }

    & h3 {
      margin: 0;
      font-family: $titleFont;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.03em;
      text-align: justify;
    }

    & p {
      margin: 10px 0 15px;
      text-align: justify;
    }
  }


  &__slide-button {
    display: none;
    outline: none;
  }
}

@media (max-width: 960px) {
  .news {
    order: 1;

    display: flex;
    width: 100%;
    justify-content: center;

    background-color: #ffffff;
    box-shadow: 0 8px 5px -4px rgba(0, 0, 0, 0.25);

    &__header {
      display: none;
    }

    &__wrapper {
      display: flex;
      width: 675px;
    }

    &__item {
      box-sizing: border-box;
      min-width: 225px;
      max-width: 225px;
    }

    &__slide-button {
      display: block;
      position: absolute;
      cursor: pointer;

      top: 50%;
      margin-top: -11px;
      width: 11px;
      height: 22px;

      background-color: transparent;
      border: none;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 3px;
        height: 15px;

        background-color: #f51a85;
      }

      &--left {
        left: 20px;

        &:hover {
          filter: drop-shadow(0 3px 1px rgba(245, 26, 133, 0.8));
        }
      }

      &--right {
        right: 20px;

        &:hover {
          filter: drop-shadow(0 3px 1px rgba(245, 26, 133, 0.8));
        }
      }

      &--left::before,
      &--left::after {
        left: 0;
      }

      &--right::before,
      &--right::after {
        right: 0;
      }

      &--left::before,
      &--right::after {
        transform: rotate(45deg);
      }

      &--right::before,
      &--left::after {
        transform: rotate(-45deg);
      }

      &--right::before {
        top: -5px;
      }

      &--right::after {
        top: 4px;
      }

      &--left::before {
        top: -5px;
      }

      &--left::after {
        top: 4px;
      }
    }

    &__slider-container {
      overflow: hidden;
      display: flex;
      max-width: 675px;
    }
  }
}

@media (max-width: 768px) {
  .news {
    &__hidden {
      display: none;
    }

    &__slider-container {
      max-width: 76%;
    }

    &__wrapper {
      width: 100%;
    }

    &__item {
      min-width: 100%;
      max-width: 100%;
    }
  }
}
