.post {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-right: 10px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 49.25%;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    // max-height: max-content;

    &:nth-child(2n) {
      margin-right: 0;
    }

    & h3 {
      margin: 20px 0;
      font-family: $titleFont;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.06em;
      text-align: center;
    }
  }

  &__wrapper-full {
    width: 100%;
    background-color: #ffffff;
  }

  &__wrapper:last-of-type {
    margin-right: 0;
  }

  &__content-wrapper {
    padding: 0 10px;

    & ol {
      padding-left: 30px;
      font-family: $titleFont;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.06em;
    }

    & li {
      padding-bottom: 15px;
    }

    & li h3 {
      margin: 0;
      font-family: $titleFont;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.03em;
      text-align: justify;
    }

    & li a {
      color: #000000;
    }

    & li p {
      font-size: 12px;
      font-weight: 400;
      font-family: $textFont;
      line-height: 15px;
      color: #000000;
      letter-spacing: normal;
    }
  }

  &__header {
    display: flex;
    flex-grow: 1;
    padding: 25px 30px 20px;
  }

  &__header h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  &__footer {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  &__footer a {
    color: #fdb914;

    &:hover {
      background-color: #fdb914;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;

    & a {
      padding: 0 2px;
      color: #fdb914;
    }

    & a:hover {
      color: #ffffff;
      background-color: #fdb914;
    }
  }

  &__pagination:empty {
    display: none;
  }

  &__pagination-item--active {
    background-color: #fdb914;
    pointer-events: none;

    & a {
      color: #ffffff;
    }
  }
}

@media (max-width: 960px) {
  .post {
    order: 2;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .post {
    order: 2;
    margin-right: 0;

    &__wrapper {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
