footer.page-footer
  .page-footer__column-wrapper
    .page-footer__left-column
      .page-footer__header
        h3 Будь в курсе!
        p Введите Ваш E-mail, чтобы подписаться на новостную рассылку сайта
      form.page-footer__search-form.search-form(action='#' method='POST' name='subscribeform')
        input(type='text' name='email' placeholder='Введите свой E-mail')
        button(type='submit' name='subscribe') о'кей
      ul.page-footer__social.social
        li.social__item
          a(href='#' target='_blank' rel='noopener')
            span.visually-hidden vkontakte
            svg(width='30' height='30')
              use(xlink:href='img/sprite/sprite.svg#sprite-icon-vk')
        li.social__item
          a(href='#' target='_blank' rel='noopener')
            span.visually-hidden odnoklassiniki
            svg(width='30' height='30')
              use(xlink:href='img/sprite/sprite.svg#sprite-icon-ok')
    .page-footer__right-column
      .page-footer__header
        h3 Будь на связи!
        ul.page-footer__contact
          li.page-footer__contact-item Наш адрес: г. Екатеринбург, ул. Братская, 14
          li.page-footer__contact-item Тел.: 8-950-19-18-509 / 8-904-98-19-067
          li.page-footer__contact-item E-mail: centre_ok@e1.ru
  .page-footer__copyright
    p © Психолого-развивающий центр "О'кей", 2015-2021
