extends ../layout/main

block variables
  - var title = 'Центр "Окей" - психолого - развивающий центр';
  - var description = 'Мы специализируемся на преподавании английского языка';

block content
  .page-main__wrapper
    section.post
      .post__wrapper
        .post__header.header
          p ОГЭ по английскому языку
        img(src="img/news_11.jpeg", alt="Изображение новости")
        .post__content-wrapper
          h3 Подготовка к ОГЭ по английскому для учащихся 8-9 классов
          p Подготовка к ОГЭ по английскому языку - это двухгодичная программа, готовящая к сдаче основного государственного экзамена по английскому языку в 9 классе.
            |Подготовка к ОГЭ по английскому языку - это двухгодичная программа, готовящая к сдаче основного государственного экзамена по английскому языку в 9 классе.
          .post__footer.content-footer
            span 16.08.2020 18:08
            a(href="#") Читать далее &rang;&rang;
      .post__wrapper
        .post__header.header
          p ОГЭ по английскому языку
        img(src="img/news_11.jpeg", alt="Изображение новости")
        .post__content-wrapper
          h3 Подготовка к ОГЭ по английскому для учащихся 8-9 классов
          p Подготовка к ОГЭ по английскому языку - это двухгодичная программа, готовящая к сдаче основного государственного экзамена по английскому языку в 9 классе.
            |Подготовка к ОГЭ по английскому языку - это двухгодичная программа, готовящая к сдаче основного государственного экзамена по английскому языку в 9 классе.
          .post__footer.content-footer
            span 16.08.2020 18:08
            a(href="#") Читать далее &rang;&rang;
      .post__wrapper
        .post__header.header
          p ОГЭ по английскому языку
        img(src="img/news_11.jpeg", alt="Изображение новости")
        .post__content-wrapper
          h3 Подготовка к ОГЭ по английскому для учащихся 8-9 классов
          p Подготовка к ОГЭ по английскому языку - это двухгодичная программа, готовящая к сдаче основного государственного экзамена по английскому языку в 9 классе.
            |Подготовка к ОГЭ по английскому языку - это двухгодичная программа, готовящая к сдаче основного государственного экзамена по английскому языку в 9 классе.
          .post__footer.content-footer
            span 16.08.2020 18:08
            a(href="#") Читать далее &rang;&rang;
      .post__wrapper
        .post__header.header
          p ОГЭ по английскому языку
        img(src="img/news_11.jpeg", alt="Изображение новости")
        .post__content-wrapper
          h3 Подготовка к ОГЭ по английскому для учащихся 8-9 классов
          p Подготовка к ОГЭ по английскому языку - это двухгодичная программа, готовящая к сдаче основного государственного экзамена по английскому языку в 9 классе.
            |Подготовка к ОГЭ по английскому языку - это двухгодичная программа, готовящая к сдаче основного государственного экзамена по английскому языку в 9 классе.
          .post__footer.content-footer
            span 16.08.2020 18:08
            a(href="#") Читать далее &rang;&rang;
      ul.post__pagination
        li.post__pagination-item.post__pagination-item--active
          a(href="#")
            |1
        li.post__pagination-item
          a(href="#")
            |2
        li.post__pagination-item
          a(href="#")
            |3
    section.news
      .news__header.header
        p Новости
      button(type='button').news__slide-button.news__slide-button--right
      button(type='button').news__slide-button.news__slide-button--left
      .news__slider-container
        ul.news__wrapper
          li.news__item
            h3 СТАРТ ЗАНЯТИЙ В ГРУППЕ 3 КЛАССА для новичков
            p Если ваш ребенок перешел в 3 класс, но вам кажется, что первый год ...
            .news__footer.content-footer
              span 16.08.2020 18:08
              a(href="#") Читать далее &rang;&rang;
          li.news__item
            h3 СТАРТ ЗАНЯТИЙ В ГРУППЕ 4 КЛАССА для новичков
            p Если ваш ребенок перешел в 3 класс, но вам кажется, что первый год ...
            .news__footer.content-footer
              span 16.08.2020 18:08
              a(href="#") Читать далее &rang;&rang;
          li.news__item
            h3 СТАРТ ЗАНЯТИЙ В ГРУППЕ 5 КЛАССА для новичков
            p Если ваш ребенок перешел в 3 класс, но вам кажется, что первый год ...
            .news__footer.content-footer
              span 16.08.2020 18:08
              a(href="#") Читать далее &rang;&rang;
          li.news__item
            h3 СТАРТ ЗАНЯТИЙ В ГРУППЕ 6 КЛАССА для новичков
            p Если ваш ребенок перешел в 3 класс, но вам кажется, что первый год ...
            .news__footer.content-footer
              span 16.08.2020 18:08
              a(href="#") Читать далее &rang;&rang;
