block variables

doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    meta(name="description", content=description)
    title #{title}
    link(rel='preload' href='fonts/karmina-bold.woff2' as='font' type='font/woff2' crossorigin='anonymous')
    link(rel='preload' href='fonts/bebas-neue-book.woff2' as='font' type='font/woff2' crossorigin='anonymous')
    link(rel='preload' href='fonts/bebas-neue-book-bold.woff2' as='font' type='font/woff2' crossorigin='anonymous')
    link(rel='preload' href='fonts/verdana.woff2' as='font' type='font/woff2' crossorigin='anonymous')
    link(rel='shortcut icon' href='img/favicon.png' type='image/x-icon')
    link(rel='apple-touch-icon' href='img/favicon.png')
    //- block header
  body
    .container
      include ../includes/header
      main.page-main
        h1.visually-hidden Центр 'Окей' - психолого - развивающий центр
        block content
      include ../includes/footer
